.App {
  text-align: center;
}

.App-header {
  background-color: #363334;
  min-height: 10vh;
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
}

.App-main {
  background-color: #b6b6b6;
  min-height: 90vh;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: #363334;
}

#url-input {
  height: 2vh;
  width: 40vw;
}

#result {
  height: 50vh;
  width: 50vw;
}
